#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  min-width: 300px;
}



.warning {
  background-color: #000;
  border: none;
  color: #7B00C2;
}

.warning:hover {
  background-color: #7B00C244;
  border: none;
  color: #7B00C2;
}

.tercary {
  background-color: #000;
  border: none;
  color: #F79F28;
}

.tercary:hover {
  background-color: #F9B86244;
  border: none;
  color: #F79F28;
}

.primary {
  border: 2px solid #3D52F0;
  color: #3D52F0;
  margin: 0 15px 0 5px;
}

.primary:hover {
  border: 2px solid #152EED;
  color: #152EED;
  margin: 0 15px 0 5px;
}

.delete {
  border: 2px solid #931010;
  color: #931010;
  margin: 0 15px 0 5px;

}

.delete:hover {
  border: 2px solid red;
  color: red;

}